<h1>Formulario para agregar un producto </h1>

<h1>Productos en tiempo real: </h1>
<div id="products-container">
  {{! Aca van los productos }}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>